<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <springProfile name="local,dev">
        <logger name="com.highgag.web" level="DEBUG"/>
    </springProfile>

    <springProfile name="live">
        <logger name="com.highgag.web" level="ERROR"/>
    </springProfile>
</configuration>
